@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>
@{
    ViewData["Title"] = "GetAllDoctors";
}


<form>
<div class="col-12">

       <h3class="text-center" style="font-family:'Times New Roman', Times, serif;">Bill Generate</h3>


    <hr />
    <center>
    <table class="table-info table-bordered">
        <thead>

            <tr>
                <th>Appointment ID</th>&nbsp;&nbsp;
                <th>Patient_Name</th>&nbsp;&nbsp;
                <th>Patient_Phone</th>&nbsp;&nbsp;
                <th>Prescription</th>
                <th>Date</th>&nbsp;&nbsp;
                <th>Progress</th>&nbsp;&nbsp;
                <th>Appointment_Status</th>&nbsp;&nbsp;
                

            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
               
                if (doctor.Appointment_Status == 3)
                {
                    <tr>

                        <td>@doctor.AppointID</td>
                        <td>@doctor.Patient.Name</td>
                        <td>@doctor.Patient.Phone</td>
                        <td>@doctor.Prescription</td>
                        <td>@doctor.Date</td>
                        <td>@doctor.Progress</td>
                        @if (doctor.Appointment_Status == 0)
                        {
                            <td>Requsted</td>

                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <td>Pending</td>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <td>Completed</td>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <td>Rejected</td>
                        }
                        

                        <td><a class="btn btn-info" asp-controller="Doctor" asp-action="GenerateBill" asp-route-AppointmentId="@doctor.AppointID">GenerateBill</a></td>

                    </tr>
                }
                
            }
        </tbody>

    </table>
            </center>
</div>
</form>


