@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>
@{
    ViewData["Title"] = "GetAllDoctors";
}

@if(Model.Count()>=1)
{
<form>
<div class="col-12">
        <center><h3 style="font-size:x-large;color:black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Bill Generate</h3></center>
       <hr />
       <table class="table table-light table-bordered table-hover">
       <thead>

            <tr>
                <th>Appointment ID</th>
                <th>Patient Name</th>
                <th>Patient Phone</th>
                <th>Prescription</th>
                <th>Date</th>
                
                <th>Appointment Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                    if (doctor.Appointment_Status == 1 && (doctor.Disease != null || doctor.Prescription != null))
                {
                    <tr>
                        <td>@doctor.AppointID</td>
                        <td>@doctor.Patient.Name</td>
                        <td>@doctor.Patient.Phone</td>
                        <td>@doctor.Prescription</td>
                        <td>@doctor.Date.ToShortDateString()</td>
                       
                        @if (doctor.Appointment_Status == 0)
                        {
                            <td>Requested</td>

                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <td>Pending</td>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <td>Completed</td>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <td>Rejected</td>
                        }
                        <td><a class="btn btn-info" asp-controller="Doctor" asp-action="GenerateBill" asp-route-AppointmentId="@doctor.AppointID">Generate Bill</a></td>
                    </tr>
                } 
            }
        </tbody>
    </table>
</div>
</form>
}
else
{
    <Center> <h1>There is no pending appointments to Genarate Bills</h1></Center>
}



