@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>
@{
    ViewData["Title"] = "GetAllDoctors";
}

@if (Model.Count() >= 1)
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width" />
    </head>
    <body style="background-color:#F0F8FF">
        <br />
        <br />
        <form>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a class="text-uppercase d-inline-block text-center" style="color:#003399;font-size:x-large" align="center"> Bill <span class="font-weight-bold" style="font-size:x-large">Generate</span></a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Appointment ID</th>
                                    <th>Patient Name</th>
                                    <th>Patient Phone</th>
                                    <th>Prescription</th>
                                    <th>Date</th>

                                    <th>Appointment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doctor in Model)
                                {
                                    if (doctor.Appointment_Status == 1 && (doctor.Disease != null || doctor.Prescription != null))
                                    {
                                        <tr>
                                            <td>@doctor.AppointID</td>
                                            <td>@doctor.Patient.Name</td>
                                            <td>@doctor.Patient.Phone</td>
                                            <td>@doctor.Prescription</td>
                                            <td>@doctor.Date.ToShortDateString()</td>

                                            @if (doctor.Appointment_Status == 0)
                                            {
                                                <td>Requested</td>

                                            }
                                            else if (doctor.Appointment_Status == 1)
                                            {
                                                <td>Approved</td>
                                            }
                                            else if (doctor.Appointment_Status == 2)
                                            {
                                                <td>Pending</td>
                                            }
                                            else if (doctor.Appointment_Status == 3)
                                            {
                                                <td>Completed</td>
                                            }
                                            else if (doctor.Appointment_Status == 4)
                                            {
                                                <td>Rejected</td>
                                            }
                                            <td><a class="btn btn-info" asp-controller="Doctor" asp-action="GenerateBill" asp-route-AppointmentId="@doctor.AppointID">Generate Bill</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </body>
    </html>
}
else
{
    <h2 class="h-100 d-flex align-items-center justify-content-center" style="color:#003399;font-family:Roboto,'sans-serif';padding-top:310px">
        There is no Pending Appointments to generate bill
    </h2>
}