
@{
    ViewData["Title"] = "PatientHistory";
}

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>;

<hr />
<form>
    <div class="col-12">
        <center><h3 style="color:black;">Patient History</h3></center>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Patient_Name</th>
                    <th>Patient_Phone</th>
                    <th>Patient_BirthDate</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Date</th>
                    <th>Appointment Status</th>
                    <th>Bill amount</th>
                    <th>Bill Status</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                        <tr>

                        <td>@doctor.Patient.PatientID</td>
                        <td>@doctor.Patient.Name</td>
                        <td>@doctor.Patient.Phone</td>
                        <td>@doctor.Patient.BirthDate</td>
                        <td>@doctor.Patient.Address</td>
                        <td>@doctor.Patient.Gender</td>
                        <td>@doctor.Date</td>

                        @if (doctor.Appointment_Status == 0)
                        {
                            <td>Requsted</td>

                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <td>Pending</td>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <td>Completed</td>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <td>Rejected</td>
                        }
                        <td>@doctor.Bill_Amount</td>
                        @if (doctor.Bill_Status == 0)
                        {
                            <td>Unpaid</td>

                        }
                        else if (doctor.Bill_Status == 1)
                        {
                            <td>Paid</td>
                        }
                        </tr>
                }
            </tbody>
        </table>
    </div>
</form>