
@{
    ViewData["Title"] = "PatientHistory";
}

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>;



@if(Model.Count()>=1)
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width" />
    </head>
    <form>
        <body style="background-color:#F0F8FF">
            <br />
            <br />
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a class="text-uppercase d-inline-block text-center" style="color:#003399;font-size:x-large" align="center"> Patient <span class="font-weight-bold" style="font-size:x-large">History</span></a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                            <thead>
                                <tr>

                                    <th>Patient Name</th>
                                    <th>Patient Phone</th>
                                    <th>Email Address</th>
                                    <th>Address</th>
                                    <th>Gender</th>
                                    <th>Appointment Date</th>
                                    <th>Disease</th>
                                    <th>Appointment Status</th>
                                    <th>Bill amount</th>
                                    <th>Bill Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doctor in Model)
                                {
                                    <tr>


                                        <td>@doctor.Patient.Name</td>
                                        <td>@doctor.Patient.Phone</td>
                                        <td>@doctor.Patient.LoginTable.Email</td>
                                        <td>@doctor.Patient.Address</td>
                                        <td>@doctor.Patient.Gender</td>
                                        <td>@doctor.Date.ToShortDateString()</td>
                                        <td>@doctor.Disease</td>

                                        @if (doctor.Appointment_Status == 0)
                                        {
                                            <td>Requested</td>

                                        }
                                        else if (doctor.Appointment_Status == 1)
                                        {
                                            <td>Approved</td>
                                        }
                                        else if (doctor.Appointment_Status == 2)
                                        {
                                            <td>Pending</td>
                                        }
                                        else if (doctor.Appointment_Status == 3)
                                        {
                                            <td>Completed</td>
                                        }
                                        else if (doctor.Appointment_Status == 4)
                                        {
                                            <td>Rejected</td>
                                        }
                                        <td>@doctor.Bill_Amount</td>
                                        @if (doctor.Bill_Status == 0)
                                        {
                                            <td>Unpaid</td>

                                        }
                                        else if (doctor.Bill_Status == 1)
                                        {
                                            <td>Paid</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </body>
    </form>
    </html>
}
else
{
        <h1>There is no pending appointments</h1>
}