
@{
    ViewData["Title"] = "PendingAppointment";
}

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>
@if(Model.Count()>=1)
{
<div class="row">
    <div class="col-12">
        <center><h3 style="font-size:x-large;color:black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">List of Pending Appointments</h3></center>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                        <th>Appointment ID</th>
                        <th>Patient Name</th>
                        <th>Patient Phone</th>
                        <th>Appointment Date</th>
                        <th>Appointment Status</th>
                        <th>Bill Amount</th>
                        <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                    if (doctor.Appointment_Status == 0 && doctor.Date >= DateTime.Today)
                    {
                    <tr>
                            <td>@doctor.AppointID</td>
                            <td>@doctor.Patient.Name</td>
                            <td>@doctor.Patient.Phone</td>
                            <td>@doctor.Date.ToShortDateString()</td>
                            <td>@doctor.Appointment_Status</td>
                            <td>@doctor.Bill_Amount</td>
                    </tr>
                    }
                    else if (doctor.Date < DateTime.Today && doctor.Appointment_Status == 0)
                    {
                        <tr>
                            <td>@doctor.AppointID</td>
                            <td>@doctor.Patient.Name</td>
                            <td>@doctor.Patient.Phone</td>
                            <td>@doctor.Date.ToShortDateString()</td>
                            <td>@doctor.Appointment_Status</td>
                            <td>@doctor.Bill_Amount</td>
                            <td><a asp-controller="Doctor" class="btn btn-outline-danger" asp-action="ApproveOrReject" asp-route-AppointmentId="@doctor.AppointID" asp-route-Appointment_Status=4>Reject</a></td>
                        </tr>
                        }
                }
            </tbody>
        </table>
    </div>
</div>
<br />

}
else
{
    <h2 class="h-100 d-flex align-items-center justify-content-center" style="color:#003399;font-family:Roboto,'sans-serif';padding-top:310px">There is no pending appointments</h2>
}

