
@{
    ViewData["Title"] = "PendingAppointment";
}

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>


<html>
 <body>
<div class="row">
    <div class="col-12">
        <h3 class="text-center" style="font-family:'Times New Roman', Times, serif;">List of Pending Appointments</h3>
        <hr />
        <center>
        <table class="table-info table-bordered">
            <thead>

                <tr>
                        <th>Appointment ID</th>&nbsp;&nbsp;
                        <th>Patient_Name</th>&nbsp;&nbsp;
                        <th>Patient_Phone</th>&nbsp;&nbsp;
                        <th>Patient_BirthDate</th>&nbsp;&nbsp;
                        <th>Date</th>&nbsp;&nbsp;
                        
                        <th>Appointment_Status</th>&nbsp;&nbsp;
                        <th>Bill_Amount</th>&nbsp;&nbsp;
                      
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                    if(doctor.Appointment_Status==0)
                    {
                    <tr>
                            <td>@doctor.AppointID</td>&nbsp;&nbsp;
                            <td>@doctor.Patient.Name</td>&nbsp;&nbsp;
                            <td>@doctor.Patient.Phone</td>&nbsp;&nbsp;
                            <td>@doctor.Patient.BirthDate</td>&nbsp;&nbsp;
                            <td>@doctor.Date</td>&nbsp;&nbsp;
                            
                            <td>@doctor.Appointment_Status</td>&nbsp;&nbsp;
                            <td>@doctor.Bill_Amount</td>&nbsp;&nbsp;
                            

                        
                    </tr>
                }
                }
            </tbody>

        </table>
        </center>
    </div>

</div>
</section>
</body>
</html>



