
@{
    ViewData["Title"] = "PendingAppointment";
}

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>

<hr />
<div class="row">
    <div class="col-12">
            <center><h3 class="text-center" style="color:black">List of Pending Appointments</h3></center>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                        <th>Appointment ID</th>
                        <th>Patient_Name</th>
                        <th>Patient_Phone</th>
                        <th>Patient_BirthDate</th>
                        <th>Date</th>
                        <th>Appointment_Status</th>
                        <th>Bill_Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                    if (doctor.Appointment_Status == 0 && doctor.Date >= DateTime.Today)
                    {
                    <tr>
                            <td>@doctor.AppointID</td>
                            <td>@doctor.Patient.Name</td>
                            <td>@doctor.Patient.Phone</td>
                            <td>@doctor.Patient.BirthDate</td>
                            <td>@doctor.Date</td>
                            <td>@doctor.Appointment_Status</td>
                            <td>@doctor.Bill_Amount</td>
                    </tr>
                    }
                    else if (doctor.Date < DateTime.Today && doctor.Appointment_Status == 0)
                    {
                        <tr>
                            <td>@doctor.AppointID</td>
                            <td>@doctor.Patient.Name</td>
                            <td>@doctor.Patient.Phone</td>
                            <td>@doctor.Patient.BirthDate</td>
                            <td>@doctor.Date</td>
                            <td>@doctor.Appointment_Status</td>
                            <td>@doctor.Bill_Amount</td>
                            <td><a asp-controller="Doctor" class="btn btn-outline-danger" asp-action="ApproveOrReject" asp-route-AppointmentId="@doctor.AppointID" asp-route-Appointment_Status=4>Reject</a></td>
                        </tr>
                        }
                }
            </tbody>
        </table>
    </div>
</div>
<hr />



