@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model ClinicEntity.Models.Doctor;

<body style="background-color:mediumspringgreen">
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://www.pngrepo.com/png/284184/180/doctor.png"
                                     alt="Avatar" class="img-fluid my-5" style="width: 110px;" />
                                <h5>@Model.Name</h5>
                                <p>@Model.Qualification</p>
                                <i class="far fa-edit mb-5"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Personal Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Address</h6>
                                            <p class="text-muted">@Model.Address</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Phone</h6>
                                            <p class="text-muted">@Model.Phone</p>
                                        </div>
                                    </div>
                                    @*<h6>Details</h6>*@
                                    @*<hr class="mt-0 mb-4">*@
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Specialization</h6>
                                            <p class="text-muted">@Model.Specialization</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Fees</h6>
                                            <p class="text-muted">@Model.Charges_Per_Visit</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start">
                                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>&nbsp;&nbsp;
                                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>&nbsp;&nbsp;
                                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
