



@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>
@{
    ViewData["Title"] = "GetAllDoctors";
}



    <div class="col-12">

        <center><h3 style="color:black;">List of Appointments</h3></center>


        <hr />
        <table class="table-info table-bordered">
            <thead>

                <tr>
                    <th>Appointment ID</th>&nbsp;&nbsp;
                    <th>Patient_Name</th>&nbsp;&nbsp;
                    <th>Patient_Phone</th>&nbsp;&nbsp;
                    <th>Patient_BirthDate</th>&nbsp;&nbsp;
                    <th>Date</th>&nbsp;&nbsp;
                    <th>Progress</th>&nbsp;&nbsp;
                    <th>Appointment_Status</th>&nbsp;&nbsp;
                    <th>Bill_Amount</th>&nbsp;&nbsp;
                    <th> Bill_Status</th>&nbsp;&nbsp;

                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                        if (doctor.Appointment_Status == 0)
                        {
                            <tr>
                                <td>@doctor.AppointID</td>
                        <td>@doctor.Patient.Name</td>
                        <td>@doctor.Patient.Phone</td>
                        <td>@doctor.Patient.BirthDate</td>
                        <td>@doctor.Date</td>
                        <td>@doctor.Progress</td>
                        @if (doctor.Appointment_Status == 0)
                        {
                            <td>Requsted</td>

                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <td>Pending</td>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <td>Completed</td>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <td>Rejected</td>
                        }
                        <td>@doctor.Bill_Amount</td>
                        <td>@doctor.Bill_Status</td>

                        <td><a asp-controller="Doctor" class="btn btn-outline-success" asp-action="ApproveOrReject" asp-route-AppointmentId="@doctor.AppointID" asp-route-Appointment_Status=1>Approve </a></td>
                        <td><a asp-controller="Doctor" class="btn btn-outline-danger" asp-action="ApproveOrReject" asp-route-AppointmentId="@doctor.AppointID" asp-route-Appointment_Status=4>Reject</a></td>
                    </tr>
                    }
                else if (doctor.Appointment_Status == 1)
                {
                    <tr>

                        <td>@doctor.AppointID</td>
                        <td>@doctor.Patient.Name</td>
                        <td>@doctor.Patient.Phone</td>
                        <td>@doctor.Patient.BirthDate</td>
                        <td>@doctor.Date</td>
                        <td>@doctor.Progress</td>
                        @if (doctor.Appointment_Status == 0)
                        {
                            <td>Requsted</td>

                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <td>Pending</td>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <td>Completed</td>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <td>Rejected</td>
                        }
                        <td>@doctor.Bill_Amount</td>
                        <td>@doctor.Bill_Status</td>

                        <td><a class="btn btn-outline-info" asp-controller="Doctor" asp-action="AddPrescription" asp-route-AppointmentId="@doctor.AppointID">Add Precscription</a></td>

                    </tr>
                }
                else if (doctor.Appointment_Status == 4)
                {
                    <tr>
                        <td>@doctor.AppointID</td>
                        <td>@doctor.Patient.Name</td>
                        <td>@doctor.Patient.Phone</td>
                        <td>@doctor.Patient.BirthDate</td>
                        <td>@doctor.Date</td>
                        <td>@doctor.Progress</td>
                        @if (doctor.Appointment_Status == 0)
                        {
                            <td>Requsted</td>

                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <td>Pending</td>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <td>Completed</td>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <td>Rejected</td>
                        }
                        <td>@doctor.Bill_Amount</td>
                        <td>@doctor.Bill_Status</td>
                    </tr>
                }
                }
            </tbody>

        </table>
    </div>





  @*      <div class="col-12">
            <center><h3 style="color:black;">List of Approved Appointments</h3></center>
            <hr />
            <table class="table table-light table-bordered table-hover">
                <thead>

                    <tr>
                        <th>Appointment ID</th>
                        <th>Patient_Name</th>
                        <th>Patient_Phone</th>
                        <th>Patient_BirthDate</th>
                        <th>Date</th>
                        <th>Progress</th>
                        <th>Appointment_Status</th>
                        <th>Bill_Amount</th>
                        <th> Bill_Status</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var doctor in Model)
                    {
                        if (doctor.Appointment_Status == 1)
                        {
                            <tr>
                                <td>@doctor.AppointID</td>
                            <td>@doctor.Patient.Name</td>
                            <td>@doctor.Patient.Phone</td>
                            <td>@doctor.Patient.BirthDate</td>
                            <td>@doctor.Date</td>
                            <td>@doctor.Progress</td>
                            <td>@doctor.Appointment_Status</td>
                            <td>@doctor.Bill_Amount</td>
                            <td>@doctor.Bill_Status</td>

                            <td><a asp-controller="Doctor" asp-action="ApproveOrReject" asp-route-AppointmentId="@doctor.AppointID">Add Precscription</a></td>
                           
                        </tr>
                        }
                    }
                </tbody>

            </table>
        </div>

        <div class="col-12">
            <center><h3 style="color:black;">List of Rejected Appointments</h3></center>
            <hr />
            <table class="table table-light table-bordered table-hover">
                <thead>

                    <tr>
                        <th>Appointment ID</th>
                        <th>Patient_Name</th>
                        <th>Patient_Phone</th>
                        <th>Patient_BirthDate</th>
                        <th>Date</th>
                        <th>Progress</th>
                        <th>Appointment_Status</th>
                        <th>Bill_Amount</th>
                        <th> Bill_Status</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var doctor in Model)
                    {
                        if (doctor.Appointment_Status == 4)
                        {
                            <tr>
                                <td>@doctor.AppointID</td>
                                <td>@doctor.Patient.Name</td>
                                <td>@doctor.Patient.Phone</td>
                                <td>@doctor.Patient.BirthDate</td>
                                <td>@doctor.Date</td>
                                <td>@doctor.Progress</td>
                                <td>@doctor.Appointment_Status</td>
                                <td>@doctor.Bill_Amount</td>
                                <td>@doctor.Bill_Status</td>
                            </tr>
                        }

                    }
                </tbody>
                <h6>Rejected......</h6>

            </table>
        </div>*@




