

@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Appointment>
@{
    ViewData["Title"] = "GetAllDoctors";
}


@if(Model.Count()>=1)
{
    <div class="col-12">
    <center><h3 style="font-size:x-large;color:black;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">List of Appointments</h3></center>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Patient Name</th>
                    <th>Patient Phone</th>
                    <th>Patient BirthDate</th>
                    <th>Date</th>
                    <th>Progress</th>
                    <th>Appointment Status</th>
                    <th>Bill Amount</th>
                    <th> Bill Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                        if (doctor.Appointment_Status == 0)
                        {
                        <tr>
                        <td>@doctor.AppointID</td>
                        <td>@doctor.Patient.Name</td>
                        <td>@doctor.Patient.Phone</td>
                        <td>@doctor.Patient.BirthDate</td>
                        <td>@doctor.Date</td>
                        <td>@doctor.Progress</td>
                        @if (doctor.Appointment_Status == 0)
                        {
                            <td>Requsted</td>

                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <td>Pending</td>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <td>Completed</td>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <td>Rejected</td>
                        }
                        <td>@doctor.Bill_Amount</td>
                        <td>@doctor.Bill_Status</td>

                        <td><a asp-controller="Doctor" class="btn btn-outline-success" asp-action="ApproveOrReject" asp-route-AppointmentId="@doctor.AppointID" asp-route-Appointment_Status=1>Approve </a></td>
                        <td><a asp-controller="Doctor" class="btn btn-outline-danger" asp-action="ApproveOrReject" asp-route-AppointmentId="@doctor.AppointID" asp-route-Appointment_Status=4>Reject</a></td>
                    </tr>
                    }
                else if (doctor.Appointment_Status == 1 && doctor.Disease ==null && doctor.Prescription==null)
                {
                    <tr>

                        <td>@doctor.AppointID</td>
                        <td>@doctor.Patient.Name</td>
                        <td>@doctor.Patient.Phone</td>
                        <td>@doctor.Patient.BirthDate</td>
                        <td>@doctor.Date</td>
                        <td>@doctor.Progress</td>
                        @if (doctor.Appointment_Status == 0)
                        {
                            <td>Requsted</td>

                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <td>Pending</td>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <td>Completed</td>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <td>Rejected</td>
                        }
                        <td>@doctor.Bill_Amount</td>
                        <td>@doctor.Bill_Status</td>

                        <td><a class="btn btn-outline-info" asp-controller="Doctor" asp-action="AddPrescription" asp-route-AppointmentId="@doctor.AppointID">Add Precscription</a></td>

                    </tr>
                }
                else if (doctor.Appointment_Status == 4)
                {
                    <tr>
                        <td>@doctor.AppointID</td>
                        <td>@doctor.Patient.Name</td>
                        <td>@doctor.Patient.Phone</td>
                        <td>@doctor.Patient.BirthDate</td>
                        <td>@doctor.Date</td>
                        <td>@doctor.Progress</td>
                        @if (doctor.Appointment_Status == 0)
                        {
                            <td>Requsted</td>

                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <td>Pending</td>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <td>Completed</td>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <td>Rejected</td>
                        }
                        <td>@doctor.Bill_Amount</td>
                        <td>@doctor.Bill_Status</td>
                    </tr>
                }
                }
            </tbody>
        </table>
    </div>
<hr />
}else{
    <h1>There is no pending appointments</h1>
}
  



