@model IEnumerable<ClinicEntity.Models.Doctor>
@{
    ViewData["Title"] = "addAppointment";
}

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}
<body style="background-color:#f0f8ff;font-family:'Roboto',sans-serif">
    <form >
        <div class="row" style="height:25vh">
             @foreach (var item in Model)
             {
                <div class="card " style="padding:25px;margin:40px;">
                    <img style="height:200px;" src="https://www.svgrepo.com/show/284185/doctor.svg" class="card-img-top" alt=" ">
                        <div class="card-body" align="center">
                        <h5 class="card-title" style="color:#003399">@item.Name</h5>
                        <h5 class="card-title" style="color:#003399">@item.Qualification</h5>
                        <h6 class="card-text"><i class="fa fa-inr"></i> @item.Charges_Per_Visit</h6>
                            <h6 class="card-text">@item.ReputeIndex / 5</h6>
                            <a class="btn btn-dark" asp-controller="Patient" asp-action="After_Selecting_doctor" asp-route-SelectingDoctorId="@item.DoctorID">Book Appointment</a>
                        </div>
                </div>
             }
        </div>
    </form>      
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</body>






