
@{
    ViewData["Title"] = "After_Selecting_doctor";
}
@model ClinicEntity.Models.Doctor
@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}
<html>
    <head>
    </head>  
    <form method="post">
    <body style="background-color:#F0F8FF">
        <div>
            <div class="container py-5">
                <div class="row h-100 align-items-center py-5">
                    <div class="col-lg-6">
                        <h1 class="display-4">@Model.Name<span class="lead text-muted mb-0"> (@Model.Qualification) </span></h1>
                        <p class="lead text-muted mb-0">Specailist: <strong>@Model.Specialization</strong></p>
                        <p class="lead text-muted">
                            Department:<strong> @Model.Department.DeptName</strong><br />
                            Status: <strong>Available</strong>
                        </p>
                    </div>                  
                    @if (Model.Gender == "M")
                    {
                        <div class="col-lg-4 d-none d-lg-block"><img src="https://www.svgrepo.com/show/284184/doctor.svg" alt="" class="img-fluid"></div>
                    }
                    else
                    {
                        <div class="col-lg-4 d-none d-lg-block"><img src="https://www.svgrepo.com/show/55261/doctor.svg" alt="" class="img-fluid"></div>
                    }                    
                    <div class="text-center">
                        <h6>Select appointment date <span style="color:red;">*</span></h6>
                        <div class="form-group mb-4">                           
                            <div class="datepicker date input-group p-0 shadow-sm">                                
                                <input type="date" asp-for="BirthDate" placeholder="Choose a appointment date"  class="form-control" id="mySelect" onchange="myFunction()" />
                            </div>
                            </div>
                        <p class="font-italic text-muted mb-0">Your appointment day is</p>
                        
                        <h4 id="pickedDate" class="font-weight-bold text-uppercase mb-3">@Model.BirthDate.ToShortDateString()</h4>
                        <input type="submit" value="Confirm Appointment" onclick="confirmFunction()" asp-route-DoctorIdd="@Model.DoctorID" class="btn btn-primary btn-sm px-4 rounded-pill text-uppercase font-weight-bold shadow-sm" />
                    </div>
                </div>
            </div>
        </div>
    </body>

    <body style="background-color:white">
        <div class="bg-white py-5">
            <div class="container py-5">
                <div class="row align-items-center mb-5">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                        <h2 class="font-weight-light">Department</h2>
                        <p class="font-italic text-muted mb-4">@Model.Department.Description</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
                    </div>
                    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                    <div class="col-lg-6">
                        <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                        <h2 class="font-weight-light">Contact Me</h2>
                        <p class="font-italic text-muted mb-4">E-mail: @Model.LoginTable.Email<br />Phone: @Model.Phone<br />Address: @Model.Address</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <body style="background-color:#F0F8FF">
        <div class="py-5">
            <div class="container py-5">
                <div class="row mb-4">
                    <div class="col-lg-5">
                        <h3 class="display-4 font-weight-light">Medication Stats</h3>
                    </div>
                </div>

                <div class="row text-center">
                    
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                            <img src="https://www.svgrepo.com/show/46112/medical-doctor-and-a-patient-on-a-stretcher-bed.svg" alt="" width="80" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h4 class="mb-0">@Model.Patient_Treated</h4><span class="small text-uppercase text-muted">Patient Treated</span>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                            <img src="https://www.svgrepo.com/show/168104/rating.svg" alt="" width="80" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h4 class="mb-0">@Model.ReputeIndex.ToString("0.0")</h4><span class="small text-uppercase text-muted">Repute Index</span>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                            <img src="https://www.svgrepo.com/show/20572/money.svg" alt="" width="80" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h4 class="mb-0">@Model.Charges_Per_Visit</h4><span class="small text-uppercase text-muted">Charges Per Visit</span>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                            <img src="https://www.svgrepo.com/show/106812/doctor.svg" alt="" width="80" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h4 class="mb-0">@Model.Work_Experience</h4><span class="small text-uppercase text-muted">Work Experience</span>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
        </body>
    </form>

    <script>
        function myFunction() {                      
            var x = document.getElementById("mySelect").value;      
            var n = new Date(x);
            document.getElementById("pickedDate").innerHTML = x;
        }
    </script>
    @if (ViewBag.status == "Ok")
    {
        
    }
    else if (ViewBag.status == "Error")
    {

        <script>
            alert("Ensure your appointment date must be today onwards");
        </script>
    }

</html>
