
@{
    ViewData["Title"] = "Notification";
}
@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}


@model IEnumerable<ClinicEntity.Models.Appointment>

    <center>
@if (Model.Count() >= 1)
{
    @foreach (var doctor in Model)
    {
        if (Convert.ToInt32(TempData["AppointmentidNotify"]) == doctor.AppointID)
        {
            TempData.Keep();
           <br />
            <br />
            @if (doctor.Appointment_Status == 0)
            {
                <div class="card text-white bg-info mb-3" style="width:800px;">
                    <div class="card-header">
                        @if (doctor.Appointment_Status == 0)
                        {
                            <p><span>Status: &nbsp;</span><strong>Requested</strong></p>
                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <p>Approved</p>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <p>Pending</p>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <p>Completed</p>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <p>Rejected</p>
                        }
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p><span>Doctor Name:&nbsp;</span>@doctor.Doctor.Name<span>&nbsp; <br/> Department: @doctor.Doctor.Department.DeptName</span></p>
                            <footer style="color:white"><span>Appointment Date:</span>&nbsp;@doctor.Date.ToShortDateString() <cite title="Source Title"> <br /> <span>Email: &nbsp;</span>@doctor.Patient.LoginTable.Email</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <br />
                <br />
            }
            else if (doctor.Appointment_Status == 1)
            {
                <div class="card text-white bg-primary mb-3" style="width:800px;">
                    <div class="card-header">
                        @if (doctor.Appointment_Status == 0)
                        {
                            <p>Requested</p>
                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <p><span>Status: &nbsp;</span><strong>Approved</strong></p>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <p>Pending</p>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <p>Completed</p>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <p>Rejected</p>
                        }
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p><span>Doctor Name:&nbsp;</span>@doctor.Doctor.Name<span>&nbsp; <br> Department: @doctor.Doctor.Department.DeptName</span></p>
                            <footer style="color:white" ><span>Appointment Date:</span>&nbsp;@doctor.Date.ToShortDateString() <cite title="Source Title"><br />  <span>Email: &nbsp;</span>@doctor.Patient.LoginTable.Email</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <br />
                <br />
            }
            else if (doctor.Appointment_Status == 2)
            {
                <div class="card text-white bg-info mb-3" style="width:800px;">
                    <div class="card-header">
                        @if (doctor.Appointment_Status == 0)
                        {
                            <p>Requested</p>
                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <p>Approved</p>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <p><span>Status: &nbsp;</span><strong>Pending</strong></p>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <p>Completed</p>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <p>Rejected</p>
                        }
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p><span>Doctor Name:&nbsp;</span>@doctor.Doctor.Name<span>&nbsp; <br> Department: @doctor.Doctor.Department.DeptName</span></p>
                            <footer style="color:white" ><span>Appointment Date:</span>&nbsp;@doctor.Date.ToShortDateString() <cite title="Source Title"><br />  <span>Email: &nbsp;</span>@doctor.Patient.LoginTable.Email</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <br />
                <br />
            }
            else if (doctor.Appointment_Status == 3 && doctor.Bill_Status==0)
            {
                <div class="card text-white bg-secondary mb-3" style="width:800px;">
                    <div class="card-header">
                        @if (doctor.Appointment_Status == 0)
                        {
                            <p>Requested</p>
                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <p>Approved</p>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <p>Pending</p>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <p><span>Status: &nbsp;</span><strong>Completed</strong></p>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <p>Rejected</p>
                        }
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p><span>Doctor Name:&nbsp;</span>@doctor.Doctor.Name<span>&nbsp; <br/> Department: @doctor.Doctor.Department.DeptName</span></p>
                            <footer style="color:white"><span>Appointment Date:</span>&nbsp;@doctor.Date.ToShortDateString() <cite title="Source Title"> <br /> <span>Email: &nbsp;</span>@doctor.Patient.LoginTable.Email</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <br />
                <br />
            }
            else if (doctor.Appointment_Status == 4)
            {
                <div class="card text-white bg-danger mb-3" style="width:800px;">
                    <div class="card-header">
                        @if (doctor.Appointment_Status == 0)
                        {
                            <p>Requested</p>
                        }
                        else if (doctor.Appointment_Status == 1)
                        {
                            <p>Approved</p>
                        }
                        else if (doctor.Appointment_Status == 2)
                        {
                            <p>Pending</p>
                        }
                        else if (doctor.Appointment_Status == 3)
                        {
                            <p>Completed</p>
                        }
                        else if (doctor.Appointment_Status == 4)
                        {
                            <p><span>Status: &nbsp;</span><strong>Cancelled</strong></p>
                        }
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p><span>Doctor Name:&nbsp;</span>@doctor.Doctor.Name<span>&nbsp; <br> Department: @doctor.Doctor.Department.DeptName</span></p>
                            <footer style="color:white" ><span>Appointment Date:</span>&nbsp;@doctor.Date.ToShortDateString() <cite title="Source Title"><br/> <span>Email: &nbsp;</span>@doctor.Patient.LoginTable.Email</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <br />
                <br />
            }
            else if (doctor.Bill_Status == 1)
            {
                <div class="card text-white bg-success mb-3" style="width:800px;">
                    <div class="card-header">
                        @if(doctor.Bill_Status==1)
                        {
                            <p><span>Bill Status: &nbsp;</span><strong>Paid</strong></p>
                        }
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p><span>Doctor Name:&nbsp;</span>@doctor.Doctor.Name<span>&nbsp; <br> Department: @doctor.Doctor.Department.DeptName</span></p>
                            <footer style="color:white" ><span>Appointment Date:</span>&nbsp;@doctor.Date.ToShortDateString() <cite title="Source Title"><br/> <span>Email: &nbsp;</span>@doctor.Patient.LoginTable.Email</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <br />
                <br />
            }
            
        }
    }
 
}else{
        <h2 class="text-center" style="font-size:x-large;color:#003399;font-family:'Roboto',sans-serif;padding-top:340px">You don't have any Notifications</h2>
}
</center>

