
@{
    ViewData["Title"] = "PatientFeedback";
}

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}



<h1>PatientFeedback</h1>

@model IEnumerable<ClinicEntity.Models.Appointment>
<div class="row">
    <div class="col-12">
        <h3 class="text-center" style="font-family:'Times New Roman', Times, serif;">List of Pending Appointments</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Doctor_Name</th>
                    <th>Doctor_Phone</th>
                    <th>Doctor Charges per visit</th>
                    <th>Date</th>
                    <th>Progress</th>



                    <th>Appointment_Status</th>
                    <th>Bill_Amount</th>
                    <th> Bill_Status</th>



                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                    if (doctor.Bill_Status == 1)
                    {
                        <tr>
                            <td>@doctor.AppointID</td>
                            <td>@doctor.Doctor.Name</td>
                            <td>@doctor.Doctor.Phone</td>
                            <td>@doctor.Doctor.Charges_Per_Visit</td>
                            <td>@doctor.Date</td>
                            <td>@doctor.Progress</td>
                            @if (doctor.Appointment_Status == 0)
                            {
                                <td>Requsted</td>



                            }
                            else if (doctor.Appointment_Status == 1)
                            {
                                <td>Approved</td>
                            }
                            else if (doctor.Appointment_Status == 2)
                            {
                                <td>Pending</td>
                            }
                            else if (doctor.Appointment_Status == 3)
                            {
                                <td>Completed</td>
                            }
                            else if (doctor.Appointment_Status == 4)
                            {
                                <td>Rejected</td>
                            }



                            <td>@doctor.Bill_Amount</td>
                            @if (doctor.Bill_Status == 0)
                            {
                                <td>Unpaid</td>



                            }
                            else if (doctor.Bill_Status == 1)
                            {
                                <td>Paid</td>
                            }

                            <td>
                                <a class="btn btn-info btn-lg openmodal" asp-route-AppointmentId="@doctor.AppointID"  asp-controller="Patient" asp-action="Create"> 
                                    Feedback
                                </a>
                            </td>



                        </tr>
                    }
                }
            </tbody>



        </table>
    </div>


    @*data-toggle="modal" data-target="#myModal"*@
</div>

