
@{
    ViewData["Title"] = "PatientFeedback";
}



@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}
@using ClinicEntity.Models;
@model Tuple<List<Appointment>,List<Pending_Feedback>>




@if (Model.Item1.Count() >= 1)
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width" />
    </head>
    <body style="background-color:#F0F8FF">
        <br />
        <a asp-area="" asp-controller="Patient" asp-action="Index"><img class="img-fluid" style="height:35px" src="https://img.icons8.com/fluency/512/circled-left.png"></a>
        <br />
        <br />
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a class="text-uppercase d-inline-block text-center" style="color:#003399;font-size:x-large" align="center"> Your <span class="font-weight-bold" style="font-size:x-large">Feedback</span></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Appointment ID</th>
                                <th>Doctor Name</th>
                                <th>Doctor Phone</th>
                                <th>Doctor Charges per visit</th>
                                <th>Date</th>
                                <th>Appointment_Status</th>
                                <th>Bill Amount</th>
                                <th>Bill Status</th>
                                <th>Feedback</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doctor in Model.Item1)
                            {
                                int x=0;
                                @foreach (var feedback in Model.Item2)
                            {
                                if(doctor.AppointID==feedback.AppointID){



                                       x = 1;
                                 
                                }
                            }   
                                if (doctor.Bill_Status == 1 && x==0 )
                                {
                                    
                                    <tr>
                                        <td>@doctor.AppointID</td>
                                        <td>@doctor.Doctor.Name</td>
                                        <td>@doctor.Doctor.Phone</td>
                                        <td>@doctor.Doctor.Charges_Per_Visit</td>
                                        <td>@doctor.Date.ToShortDateString()</td>


                                       @if (doctor.Appointment_Status == 0)
                                        {
                                            <td>Requested</td>
                                        }
                                        else if (doctor.Appointment_Status == 1)
                                        {
                                            <td>Approved</td>
                                        }
                                        else if (doctor.Appointment_Status == 2)
                                        {
                                            <td>Pending</td>
                                        }
                                        else if (doctor.Appointment_Status == 3)
                                        {
                                            <td>Completed</td>
                                        }
                                        else if (doctor.Appointment_Status == 4)
                                        {
                                            <td>Rejected</td>
                                        }
                                        <td>@doctor.Bill_Amount</td>
                                        @if (doctor.Bill_Status == 0)
                                        {
                                            <td>Unpaid</td>
                                        }
                                        else if (doctor.Bill_Status == 1)
                                        {
                                            <td>Paid</td>
                                        }



                                        <td align="center"><a class="btn btn-info" asp-route-AppointmentId="@doctor.AppointID" asp-controller="Patient" asp-action="Create"><img class="img-fluid" style="height:30px" src="https://www.svgrepo.com/show/271593/customer-rate.svg"></a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    </html>
}
else
{
    <h2 class="h-100 d-flex align-items-center justify-content-center" style="color:#003399;font-family:'Roboto',sans-serif;padding-top:340px">
        You don't have any feedback pending.
    </h2>
}   