@{
    ViewData["Title"] = "TreatmentHistory";
}

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}


@model IEnumerable<ClinicEntity.Models.Appointment>

@if (Model.Count() >= 1)
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width" />
    </head>
    <body style="background-color:#F0F8FF">
        
        <br />
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a class="text-uppercase d-inline-block text-center" style="color:#003399;font-size:x-large" align="center"> Appointment <span class="font-weight-bold" style="font-size:x-large">Details</span></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Appointment Id</th>
                                <th>Doctor Name</th>
                                <th>Doctor Phone</th>
                                <th>Doctor Fees</th>
                                <th>Date</th>
                                <th>Progress</th>
                                <th>Prescription</th>
                                <th>Appointment Status</th>
                                <th>Bill Amount</th>
                                <th>Bill Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doctor in Model)
                            {
                                if (doctor.Bill_Status == 1)
                                {
                                    <tr>
                                        <td>@doctor.AppointID</td>
                                        <td>@doctor.Doctor.Name</td>
                                        <td>@doctor.Doctor.Phone</td>
                                        <td>@doctor.Doctor.Charges_Per_Visit</td>
                                        <td>@doctor.Date.ToShortDateString()</td>
                                        <td>@doctor.Progress</td>
                                        <td>@doctor.Prescription</td>
                                        @if (doctor.Appointment_Status == 0)
                                        {
                                            <td>Requested</td>
                                        }
                                        else if (doctor.Appointment_Status == 1)
                                        {
                                            <td>Approved</td>
                                        }
                                        else if (doctor.Appointment_Status == 2)
                                        {
                                            <td>Pending</td>
                                        }
                                        else if (doctor.Appointment_Status == 3)
                                        {
                                            <td>Completed</td>
                                        }
                                        else if (doctor.Appointment_Status == 4)
                                        {
                                            <td>Rejected</td>
                                        }

                                        <td>@doctor.Bill_Amount</td>
                                        @if (doctor.Bill_Status == 0)
                                        {
                                            <td>Unpaid</td>
                                        }
                                        else if (doctor.Bill_Status == 1)
                                        {
                                            <td>Paid</td>
                                        }
                                        <td><a class="btn btn-info " asp-controller="Patient" asp-action="Prescription" asp-route-AppointmentId="@doctor.AppointID">Prescription</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    </html>
}
else
{
    <h2 class="container h-100 d-flex align-items-center justify-content-center" style="color:#003399;font-family:Roboto,'sans-serif';padding-top:340px">
            You have not visited yet
    </h2>
}

