@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@{
    ViewData["Title"] = "GetAllPatients";
}

@model IEnumerable<ClinicEntity.Models.Patient>


<div class="row">
    <div class="col-12">
        <center><h3 style="color:black;">List of Patients</h3></center>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>

                <tr>
                    <th>Patient Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>                   
                    <th>BirthDate</th>
                    <th>Gender</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model)
                {
                    <tr>
                        <td>@patient.PatientID</td>
                        <td>@patient.Name</td>
                        <td>@patient.Phone</td>
                        <td>@patient.Address</td>
                        <td>@patient.BirthDate</td>
                        <td>@patient.Gender</td>
                        <td><a asp-controller="Admin" asp-action="EditPatient" asp-route-PatientId="@patient.PatientID">Edit</a></td>
                        <td><a asp-controller="Admin" asp-action="DeletePatient" asp-route-PatientId="@patient.PatientID">Delete</a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>

