
@{
    ViewData["Title"] = "GetAllDepartments";
}

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model IEnumerable<ClinicEntity.Models.Department>


<hr />
<div class="row">
    <div class="col-12">
        <center><a class="font-weight-bold text-uppercase" style="font-size:x-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">List of Departments</a></center>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>

                <tr>
                    <th>Department No.</th>
                    <th>Department Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model)
                {
                    <tr>
                        <td>@department.DeptNo</td>
                        <td>@department.DeptName</td>
                        <td>@department.Description</td>
                        <td><a class="btn btn-info" asp-controller="Admin" asp-action="EditDepartment" asp-route-DepartmentId="@department.DeptNo"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></td>
                        <td><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteDepartment" asp-route-DepartmentId="@department.DeptNo"><i class="fa-sharp fa-solid fa-trash"></i></a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<div>
    <hr />
    <a type="button" class="nav-link text-white btn btn-primary" asp-controller="Admin" asp-action="DepartmentEntry">Click Here to Add Department</a>
    <hr />
</div>



