@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model IEnumerable<ClinicEntity.Models.OtherStaff>
@{
    ViewData["Title"] = "GetAllOtherStaffs";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
</head>
<body>
    <br />
    <a asp-area="" asp-controller="Admin" asp-action="Index"><img class="img-fluid" style="height:35px" src="https://img.icons8.com/fluency/512/circled-left.png"></a>
    <br />
    <br />
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="text-uppercase d-inline-block text-center" style="color:#003399;font-size:x-large" align="center"> Staff <span class="font-weight-bold" style="font-size:x-large">Details</span></a>
            <a type="button" class="nav-link text-white btn btn-info add-new d-inline-block" style="float:right" asp-controller="Admin" asp-action="OtherStaffEntry"><i class="fa fa-plus"></i>  Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Staff Id</th>
                            <th>Staff Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>DOB</th>
                            <th>Designation</th>
                            <th>Gender</th>
                            <th>Highest Qualification</th>
                            <th>Salary</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var otherstaff in Model)
                        {
                            <tr>
                                <td>@otherstaff.StaffID</td>
                                <td>@otherstaff.Name</td>
                                <td>@otherstaff.Phone</td>
                                <td>@otherstaff.Address</td>
                                <td>@otherstaff.BirthDate.ToShortDateString()</td>
                                <td>@otherstaff.Designation</td>
                                <td>@otherstaff.Gender</td>
                                <td>@otherstaff.Highest_Qualification</td>
                                <td>@otherstaff.Salary</td>
                                <td align="center"><a class="btn btn-info" asp-controller="Admin" asp-action="EditOtherStaff" asp-route-OtherStaffId="@otherstaff.StaffID"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></td>
                                <td align="center"><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteOtherStaff" onclick="deleteFunction()" asp-route-OtherStaffId="@otherstaff.StaffID"><i class="fa-sharp fa-solid fa-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>


