
@{
    ViewData["Title"] = "GetAllDepartments";
}

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model IEnumerable<ClinicEntity.Models.Department>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
</head>
<body>
    <br/>
    <br/>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="text-uppercase d-inline-block text-center" style="color:#003399;font-size:x-large" align="center"> Department <span class="font-weight-bold" style="font-size:x-large">Details</span></a>
            <a type="button" class="nav-link text-white btn btn-info add-new d-inline-block" style="float:right" asp-controller="Admin" asp-action="DepartmentEntry"><i class="fa fa-plus"></i>  Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Department No.</th>
                            <th>Department Name</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var department in Model)
                        {
                            <tr>
                                <td>@department.DeptNo</td>
                                <td>@department.DeptName</td>
                                <td>@department.Description</td>
                                <td align="center"><a class="btn btn-info" asp-controller="Admin" asp-action="EditDepartment" asp-route-DepartmentId="@department.DeptNo"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></td>
                                <td align="center"><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteDepartment" onclick="deleteFunction()" asp-route-DepartmentId="@department.DeptNo"><i class="fa-sharp fa-solid fa-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>


