@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model IEnumerable<ClinicEntity.Models.Doctor>
@{
    ViewData["Title"] = "GetAllDoctors";
}

<hr />
@using (Html.BeginForm())
{
    <p>
        Name &nbsp;@Html.TextBox("SearchName")
        <input type="submit" value="Search" />
    </p>
}

<hr />
<div class="row">
    <div class="col-12">
        <center><h3 style="color:black;">List of Doctors</h3></center>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Doctor Id</th>
                    <th>Doctor Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>BirthDate</th>
                    <th>Gender</th>
                    <th>Qualification</th>
                    <th>Specialization</th>
                    <th>Work Experience</th>
                    <th>Department No.</th>
                    <th>Charges Per Visit</th>
                    <th>Monthly Salary</th>
                    <th>Patient Treated</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                    <tr>
                        <td>@doctor.DoctorID</td>
                        <td>@doctor.Name</td>
                        <td>@doctor.Phone</td>
                        <td>@doctor.Address</td>
                        <td>@doctor.BirthDate</td>
                        <td>@doctor.Gender</td>
                        <td>@doctor.Qualification</td>
                        <td>@doctor.Specialization</td>
                        <td>@doctor.Work_Experience</td>
                        <td>@doctor.Deptno</td>
                        <td>@doctor.Charges_Per_Visit</td>
                        <td>@doctor.MonthlySalary</td>
                        <td>@doctor.Patient_Treated</td>
                        <td>@doctor.Status</td>
                        <td><a asp-controller="Admin" asp-action="EditDoctor" asp-route-DoctorId="@doctor.DoctorID">Edit</a></td>
                        <td><a asp-controller="Admin" asp-action="DeleteDoctor" asp-route-DoctorId="@doctor.DoctorID">Delete</a></td>
                        <td><a asp-controller="Admin" asp-action="DoctorProfile" asp-route-doctorProfileId="@doctor.DoctorID">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<hr />

