@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model IEnumerable<ClinicEntity.Models.OtherStaff>
@{
    ViewData["Title"] = "GetAllOtherStaffs";
}

<hr />
<div class="row">
    <div class="col-12">
        @using (Html.BeginForm())
        {
            <div>
                Name &nbsp;@Html.TextBox("SearchName")
                <input type="submit" value="Search"/>

                @for (int i = 0; i <= 56; i++)
                {
                    <a>&nbsp;</a>
                }
                <a class="font-weight-bold text-uppercase" style="font-size:x-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">List of Other Staffs</a>
            </div>
        }
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>

                <tr>
                    <th>Staff Id</th>
                    <th>Staff Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>DOB</th>
                    <th>Designation</th>
                    <th>Gender</th>
                    <th>Highest Qualification</th>
                    <th>Salary</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var otherstaff in Model)
                {
                    <tr>
                        <td>@otherstaff.StaffID</td>
                        <td>@otherstaff.Name</td>
                        <td>@otherstaff.Phone</td>
                        <td>@otherstaff.Address</td>
                        <td>@otherstaff.BirthDate</td>
                        <td>@otherstaff.Designation</td>
                        <td>@otherstaff.Gender</td>
                        <td>@otherstaff.Highest_Qualification</td>
                        <td>@otherstaff.Salary</td>
                        <td><a class="btn btn-info" asp-controller="Admin" asp-action="EditOtherStaff" asp-route-OtherStaffId="@otherstaff.StaffID">
                                <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                        </a></td>
                        <td>
                            <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteOtherStaff" asp-route-OtherStaffId="@otherstaff.StaffID">
                                <i class="fa-sharp fa-solid fa-trash"></i>
                        </a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<div>
    <hr />
    <a type="button" class="nav-link text-white btn btn-primary" asp-controller="Admin" asp-action="OtherStaffEntry">Click Here to Add Other Staffs</a>
    <hr />
</div>


