@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@{
    ViewData["Title"] = "GetAllPatients";
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model IEnumerable<ClinicEntity.Models.Patient>

<hr />
<div class="row">
    <div class="col-12">
        @using (Html.BeginForm())
        {
            <div>
                Name &nbsp;@Html.TextBox("SearchName")
                <input type="submit" value="Search"/>

                @for (int i = 0; i <= 60; i++)
                {
                    <a>&nbsp;</a>
                }
                <a class="font-weight-bold text-uppercase" style="font-size:x-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">List of Patients</a>
            </div>
        }

        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>

                <tr>
                    <th>Patient Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>                   
                    <th>BirthDate</th>
                    <th>Gender</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model)
                {
                    <tr>
                        <td>@patient.PatientID</td>
                        <td>@patient.Name</td>
                        <td>@patient.Phone</td>
                        <td>@patient.Address</td>
                        <td>@patient.BirthDate</td>
                        <td>@patient.Gender</td>
                        <td><a class="btn btn-info" asp-controller="Admin" asp-action="EditPatient" asp-route-PatientId="@patient.PatientID"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></td>
                        <td><a class="btn btn-danger" asp-controller="Admin" asp-action="DeletePatient" asp-route-PatientId="@patient.PatientID"><i class="fa-sharp fa-solid fa-trash"></i></a></td>
                        <td><a class="btn btn-success" asp-controller="Admin" asp-action="PatientProfile" asp-route-patientProfileId="@patient.PatientID"><i class="fa-regular fa-eye"></i></a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<hr />

