
@{
    ViewData["Title"] = "GetAllDepartments";
}

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model IEnumerable<ClinicEntity.Models.Department>


<div style="padding:55px">
    <div class="col-12">
        <center>
            <a class="font-weight-bolder text-uppercase" style="color:#003399;font-family:'Copperplate Gothic'; font-size:xx-large" align="center">List of Departments</a>
        </center>
        <hr />
        <table class="table table-light table-bordered table-hover" style=" background-image: url('https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjg3MC1teW50LTIwXzFfMi5qcGc.jpg');">
            <thead class="font-weight-bolder" style="color:#003399;font-family:'Copperplate Gothic';font-size:20px" align="center">
                <tr>
                    <th>Department No.</th>
                    <th>Department Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="font-weight-bold" style="opacity:.8;color:#003399;font-family:'Copperplate Gothic';font-size:19px" align="center">
                @foreach (var department in Model)
                {
                    <tr>
                        <td>@department.DeptNo</td>
                        <td>@department.DeptName</td>
                        <td>@department.Description</td>
                        <td><a class="btn btn-info" asp-controller="Admin" asp-action="EditDepartment" asp-route-DepartmentId="@department.DeptNo"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></td>
                        <td><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteDepartment" asp-route-DepartmentId="@department.DeptNo"><i class="fa-sharp fa-solid fa-trash"></i></a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<div style="padding-left:70px; padding-right:70px">
    <a type="button" class="nav-link text-white btn btn-info" asp-controller="Admin" asp-action="DepartmentEntry">Click Here to Add Department</a>
</div>



