
@{
    ViewData["Title"] = "GetAllDepartments";
}

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model IEnumerable<ClinicEntity.Models.Department>


<div class="row">
    <div class="col-12">
        <center><h3 style="color:black;">List of Departments</h3></center>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>

                <tr>
                    <th>Department No.</th>
                    <th>Department Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model)
                {
                    <tr>
                        <td>@department.DeptNo</td>
                        <td>@department.DeptName</td>
                        <td>@department.Description</td>
                        <td><a asp-controller="Admin" asp-action="EditDepartment" asp-route-DepartmentId="@department.DeptNo">Edit</a></td>
                        <td><a asp-controller="Admin" asp-action="DeleteDepartment" asp-route-DepartmentId="@department.DeptNo">Delete</a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<div>
    <hr />
    <a type="button" class="nav-link text-white btn btn-primary" asp-controller="Admin" asp-action="DepartmentEntry">Click Here to Add Department</a>
    <hr />
</div>



