@model ClinicEntity.Models.Patient

@{
    ViewData["Title"] = "PatientProfile";
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br/>
<a asp-area="" asp-controller="Admin" asp-action="GetAllPatients"><img class="img-fluid" style="height:35px" src="https://img.icons8.com/fluency/512/circled-left.png"></a>

<body style="background-color:#f0f8ff;font-family:'Roboto',sans-serif">
    <section style="padding-top:85px">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://www.pngrepo.com/png/284208/180/patient.png"
                                     alt="Avatar" class="img-fluid my-5" style="width: 110px;" />
                                <h5>@Model.Name</h5>
                                <p>@Model.Phone</p>
                                <a asp-controller="Admin" asp-action="EditPatient"><i class="far fa-edit mb-5"></i></a>
                                
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Name</h6>
                                            <p class="text-muted">@Model.Name</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Date of Birth</h6>
                                            <p class="text-muted">@Model.BirthDate</p>
                                        </div>
                                    </div>
                                    <h6>Details</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Gender</h6>
                                            <p class="text-muted">@Model.Gender</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Address</h6>
                                            <p class="text-muted">@Model.Address</p>
                                        </div>
                                        
                                    </div>
                                    <div class="d-flex justify-content-start">
                                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>&nbsp;&nbsp;
                                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>&nbsp;&nbsp;
                                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>




